<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="box">
	<h1 id="error_message"></h1>
	<div id="form">
		<h2 style="margin: auto; width: auto;">Login</h2><br />
		Email:<br/><input id="email" type="text" name="email" onkeyup="validate(this)" /><br />
		Password:<br /><input id="password" type="password" name="password" onkeyup="validate(this)" /><br />
		<input id="submit" type="submit" value="Login" onclick="post()" /><br /><br />
	</div>
	</div>
	<script type="text/javascript">

		async function digest(message) {
			const msgUint8 = new TextEncoder().encode(message);
			const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8);
			const hashArray = Array.from(new Uint8Array(hashBuffer));
			return hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
		}	
		function validate(elem) {
			var valid = true;
			var email = document.getElementById("email").value;
			var pw1 = document.getElementById("password").value;
			var s = email.split("@");
			if (s.length != 2 || s[1].length == 0) {
				if (elem == undefined) {
					show_error("Not an email address");
				}
				valid = false;
			}
			var elem = document.getElementById("submit");
			elem.disabled = !valid;
			return valid;
		}
		async function post() {
			if (validate(undefined) == false)
				return;

			var email = document.getElementById("email").value;
			var pw1 = document.getElementById("password").value;

			var pw1 = await digest(pw1);
			var data = {};
			data["email"] = email;
			data["password"] = pw1;
			data["url"] = "{{REDIRECT}}"

			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/user/login', true);
			xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

			xhr.onload = function () {
				var data = JSON.parse(this.responseText);
				show_error(data.msg+"<br />Redirect in 3 seconds...");
				if (data.url.length > 0) {
					document.getElementById("form").style.display = "none";
					setTimeout(function() {
						window.location.href = data.url;
					}, 3000);
				}
			};
			xhr.send(JSON.stringify(data));
		}
		function show_error(msg) {
			var error = document.getElementById("error_message");
			error.innerHTML = msg;
			error.style.display = "block";
		}
	</script>
</body>
</html>
