* {
  box-sizing: border-box;
}
body {
  background-color: #0d0d0d;
}

table {
  width: 100%;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#model_albums {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /*width: 100%; */
}

#model_albums td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#model_albums tr:nth-child(even){background-color: #f2f2f2;}
#model_albums tr:hover {
  cursor: pointer;
}

div#box {
  border: 1px solid #7bf;
  background-color: lightblue;
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin: auto;
}

input#submit {
  width: 100%;
  margin: auto;
}
input {
  margin: 5px;
}

h1#error {
  display: none;
  width: 100%;
  margin: auto;
}
div.infobox {
  width: auto;
  border: 1px solid #7bf;
  height: 30vh;
  background-color: gray;
  margin: 2px;
  padding: 0px;
}

select {
  width: 100%;
}

article {
  float: left;
  width: 85%;
  height: 100vh;
  margin: auto;
}

div#inner {
  height: 68vh;
  width: auto;
  background-color: gray;
  overflow: scroll;
}

nav {
  border: 1px solid;
  border-radius: 10px;
  float: left;
  width: 15%;
  height: 99vh;
  padding: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: contain;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  top: 50%;
  width: auto;
  position: absolute;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

#navbar_toggle {
  cursor: pointer;
  top: 0%;
  width: auto;
  position: absolute;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.navbar_toggle,
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
	left: 0
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

