<!DOCTYPE html>
<html lan="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="body">
		Loading...
	<link href="/user/login" rel="html" type="text/html" />
	</div>
	<script type="text/javascript">
		get_contents("{{CONTENT}}");
		function get_contents(url) {
			var body = document.getElementById("body");
			content = new XMLHttpRequest();
			content.onreadystatechange = function() {
console.log(this.readyState)
				if (this.readyState == 4 && this.status == 200) {
					body.innerHTML = this.responseText;
				}
				else if (this.readyState == 4) {
					body.innerHTML = this.status+" "+this.responseText;
				}
			};
			content.open("GET", url, true);
			content.send()
		}
	
		function show_error(msg) {
			var error = document.getElementById("error_message");
			error.innerHTML = msg;
			error.style.display = "block";
		}
		async function digest(message) {
			const msgUint8 = new TextEncoder().encode(message);
			const hashBuffer = await crypto.subtle.digest('SHA-256', msgUint8);
			const hashArray = Array.from(new Uint8Array(hashBuffer));
			return hashArray.map(b => b.toString(16).padStart(2, '0')).join('');
		}	
		function validate(elem) {
			var valid = true;
			var email = document.getElementById("email").value;
			var pw1 = document.getElementById("password").value;
			var s = email.split("@");
			if (s.length != 2 || s[1].length == 0) {
				if (elem == undefined) {
					show_error("Not an email address");
				}
				valid = false;
			}
			var elem = document.getElementById("submit");
			elem.disabled = !valid;
			return valid;
		}
		async function post() {
			if (validate(undefined) == false)
				return;

			var email = document.getElementById("email").value;
			var pw1 = document.getElementById("password").value;

			var pw1 = await digest(pw1);
			console.log(pw1);
			var data = {};
			data["email"] = email;
			data["password"] = pw1;

			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/user/login', true);
			xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');

			xhr.onload = function () {
				var data = JSON.parse(this.responseText);
				show_error(data.msg+"<br />Redirect in 3 seconds...");
				if (data.url.length > 0) {
					document.getElementById("form").style.display = "none";
					setTimeout(function() {
						window.location.href = data.url;
					}, 3000);
				}
			};
			xhr.send(JSON.stringify(data));
		}
		function show_error(msg) {
			var error = document.getElementById("error_message");
			error.innerHTML = msg;
			error.style.display = "block";
		}
	</script>
</body>
</html>
